@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative:400,700');

$defaultFont: 'Signika Negative', sans-serif;
$defaultColor: #454545;
$defualtFontSize: 1.1rem;

body {
    font-family: $defaultFont;
    color: $defaultColor;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: #eee;
    font-size: $defualtFontSize;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.table td, .table th {
    vertical-align: middle;
}

button.btn, a.btn {
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.1);
}

table#PutArea {
    display: none;
}